<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body style="margin: 0pt">
      <div class="container">
            <div id="app" class="columns"><!-- React --></div>
      </div>
  </body>
  {% load static %}
  <script src="{% static "frontend/main.js" %}"></script>
</html>